*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0;
}
a{
    text-decoration: none;
    color: unset;
}
ul[role='list'],
ol[role='list'] {
    list-style: none;
}
ul, li{
    list-style-type: none;
    padding: 0;
}
body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: #1C1C28;
    color: #FFFFFF;
}
a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
    color: currentColor;
}
img, picture {
    max-width: 100%;
    display: block;
}
input, button, textarea, select {
    font: inherit;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button{
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}


header{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1740px;
    width: 100%;
    padding: 25px 30px;
    margin: 0 auto;
    @media(max-width: 1024px){
        padding: 20px;
    }
    @media(max-width: 575px){
        padding: 20px 15px;
    }
}
.header-logo{
    width: 72px;
    height: 72px;
}
.header-logo img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}
.header-home{
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 40px;
    font-family: 'Better VCR', sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    @media(max-width: 640px){
        display: none;
    }
}
.header-home:hover{
    color: #4040AF;
}
.header-socials{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 32px;
}
.social-link{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: #FFFFFF;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.social-link:hover{
    color: #4040AF;
}
.wrapper{
    max-width: 1740px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    @media(max-width: 1024px){
        padding: 0 20px;
    }
    @media(max-width: 575px){
        padding: 0 15px;
    }
} 

.site-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.site-bg img{
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.main{
    padding-bottom: 30vh;
    @media(max-width: 1440px){
        padding-bottom: 20vh;
    }
}
.main-title{
    position: relative;
    margin: 30vh auto 80px;
    max-width: 1200px;
    width: 100%;
    @media(max-width: 1440px){
        margin: 20vh auto 60px;
    }
}
.main-title svg{
    position: absolute;
    top: 100%;
    left: 28%;
    @media(max-width: 575px){
        left: 10%;
    }
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    line-height: 88px;
    font-weight: 700;
    text-align: center;
    @media(max-width: 1024px){
        font-size: 72px;
        line-height: 70px;
    }
    @media(max-width: 768px){
        font-size: 48px;
        line-height: 40px;
    }
    @media(max-width: 575px){
        font-size: 40px;
    }
    @media(max-width: 420px){
        font-size: 32px;
        line-height: 36px;
    }
}
.blue-btn{
    padding: 14px 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: #4040AF;
    color: #FFFFFF;
    font-family: 'Better VCR', sans-serif;
    font-size: 20px;
    line-height: 20px;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.blue-btn:hover, .svg-btn:hover{
    color: #4040AF;
    background-color: #FFFFFF;
}
.svg-btn{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    background-color: #4040AF;
    color: #FFFFFF;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.main-btn{
    margin: 0 auto;
}

.material{
    padding: 130px 90px;
    @media(max-width: 1440px){
        padding: 130px 0;
    }
    @media(max-width: 992px){
        padding: 100px 0;
    }
}
.material-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 72px;
    @media(max-width: 1280px){
        gap: 40px;
    }
}
.material-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    @media(max-width: 1024px){
        height: 300px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }
    @media(max-width: 420px){
        height: 200px;
    }
}
.material-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
} 
.material-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 60px;
    @media(max-width: 1280px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 40px;
    }
    @media(max-width: 768px){
        gap: 20px;
    }
}
.material-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    line-height: 70px;
    font-weight: 500;
    color: #FFFFFF;
    max-width: 725px;
    width: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    @media(max-width: 1280px){
        max-width: unset;
    }
    @media(max-width: 1024px){
        font-size: 56px;
        line-height: 64px;
    }
    @media(max-width: 768px){
        font-size: 40px;
        line-height: 48px;
    }
    @media(max-width: 575px){
        font-size: 32px;
        line-height: 40px;
    }
}
.material-col{
    max-width: 610px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px;
    @media(max-width: 1280px){
        max-width: 900px;
    }
}
.material-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 32px;
    @media(max-width: 575px){
        font-size: 18px;
        line-height: 26px;
    }
}
.services{
    background-color: #4040AF73;
    padding: 40px 0 100px;
}
.service-tag{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #3328BF;
    margin: 0 auto 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.services-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 120px;
    @media(max-width: 1280px){
        margin-bottom: 80px;
    }
    @media(max-width: 992px){
        margin-bottom: 60px;
        font-size: 40px;
        line-height: 50px;
    }
    @media(max-width: 575px){
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }
}
.services-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    @media(max-width: 575px){
        gap: 20px;
    }
}
.services-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D6D6D6;
    @media(max-width: 992px){
        gap: 30px;
    }
}
.services-item__main{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    @media(max-width: 992px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 10px;
    }
}
.services-item__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    width: 330px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    @media(max-width: 992px){
        width: auto;
    }
    @media(max-width: 575px){
        font-size: 24px;
        line-height: 32px;
    }
    @media(max-width: 460px){
        font-size: 20px;
        line-height: 24px;
    }
}
.services-item__description{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    max-width: 620px;
    width: 100%;
    @media(max-width: 992px){
        max-width: unset;
    }
    @media(max-width: 575px){
        font-size: 18px;
        line-height: 26px;
    }
    @media(max-width: 460px){
        font-size: 14px;
        line-height: 18px;
    }
}
.services-item__link{
    width: 88px;
    height: 88px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #3328BF;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    @media(max-width: 575px){
        width: 60px;
        height: 60px;
    }
}
.services-item__link:hover {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
footer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1740px;
    width: 100%;
    padding: 25px 30px;
    margin: 0 auto;
    @media(max-width: 1024px){
        padding: 20px;
    }
    @media(max-width: 575px){
        padding: 20px 15px;
    }
}
.footer-left{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.footer-login, .footer-logo{
    width: 72px;
    height: 72px;
    cursor: pointer;
    @media(max-width: 575px){
        width: 48px;
        height: 48px;
    }
}
.footer-login img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}
.footer-socials{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 32px;
}
.login-input{
    display: none;
}
.login-input.open{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(110%, -50%);
    -ms-transform: translate(110%, -50%);
    transform: translate(110%, -50%);
}
.login-input input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 14px 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #2C2C65;
    color: #FFFFFF;
    width: 300px;
    @media(max-width: 575px){
        width: 200px;
    }
}
.login-input input::-webkit-input-placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
}
.login-input input::-moz-placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
}
.login-input input:-ms-input-placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
}
.login-input input::-ms-input-placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
}
.login-input input::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 80%;
}

.archive{
    padding-bottom: 200px;
    @media(max-width: 992px){
        padding-bottom: 100px;
    }
    @media(max-width: 575px){
        padding-bottom: 60px;
    }
}
.archive-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 60px;
    margin: 150px auto 120px;
    text-align: center;
    @media(max-width: 992px){
        font-size: 40px;
        line-height: 50px;
        margin: 100px auto 60px;
    }
    @media(max-width: 575px){
        font-size: 30px;
        line-height: 40px;
        margin: 70px auto 50px;
    }
}
.archive-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    @media(max-width: 575px){
        gap: 20px;
    }
}

.page-title{
    font-family: 'Onest', sans-serif;
    font-size: 96px;
    line-height: 110px;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 1400px;
    width: 100%;
    @media(max-width: 1440px){
        font-size: 80px;
        line-height: 90px;
    }
    @media(max-width: 1280px){
        font-size: 72px;
        line-height: 84px;
    }
    @media(max-width: 1024px){
        font-size: 60px;
        line-height: 72px;
    }
    @media(max-width: 768px){
        font-size: 48px;
        line-height: 60px;
    }
    @media(max-width: 575px){
        font-size: 36px;
        line-height: 48px;
    }
}
.page-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 800px;
    width: 100%;
    margin-bottom: 40px;
    @media(max-width: 768px){
        font-size: 24px;
        line-height: 32px;
    }
}
.page-btns{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.text-item{
    margin-bottom: 60px;
}
.text-item h3{
    font-family: 'Onest', sans-serif;
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
    max-width: 900px;
    @media(max-width: 1280px){
        font-size: 48px;
        line-height: 60px;
    }
    @media(max-width: 768px){
        font-size: 36px;
        line-height: 48px;
    }
}
.text-item h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 10px;
    @media(max-width: 1280px){
        font-size: 32px;
        line-height: 40px;
    }
    @media(max-width: 768px){
        font-size: 28px;
        line-height: 36px;
    }
}
.text-item p{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    max-width: 1200px;
    color: #FFFFFF;
    @media(max-width: 1280px){
        font-size: 20px;
        line-height: 28px;
        max-width: 800px;
    }
    @media(max-width: 768px){
        font-size: 18px;
        line-height: 26px;
    }
}
.text-item span{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    color: #FFFFFF;
    display: block;
    margin-bottom: 5px;
    @media(max-width: 1280px){
        font-size: 24px;
        line-height: 30px;
    }
    @media(max-width: 768px){
        font-size: 20px;
        line-height: 28px;
    }
}
.text-item a{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: underline;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    @media(max-width: 1280px){
        font-size: 20px;
        line-height: 28px;
    }
    @media(max-width: 768px){
        font-size: 18px;
        line-height: 26px;
    }
}
.text-item a:hover{
    color: #4040AF;
}
.paragraph-item{
    margin-bottom: 30px;
}
.text-li{
    margin-bottom: 20px;
}
.sub-text{
    padding-left: 25px;
}


.tools{
    margin-top: 60px;
    padding-bottom: 200px;
    @media(max-width: 992px){
        padding-bottom: 100px;
    }
    @media(max-width: 575px){
        padding-bottom: 60px;
    }
}
.tools-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 100px;
    text-align: center;
    @media(max-width: 992px){
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 60px;
    }
    @media(max-width: 575px){
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 50px;
    }
}
.tools-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    @media(max-width: 575px){
        gap: 20px;
    }
}
#checkPassword{
    display: inline-block;
    box-sizing: border-box;
    right: inherit;
    position: absolute;
    height: -webkit-fill-available;
    border-radius: 0px 10px 10px 0px;
    background-color: #383882;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

.image-111{
    width: 45%;
    margin: 0 20px;
    margin-bottom: 30px;
    margin-top: -30px;
    height: auto;
    overflow: hidden;
    -webkit-border-radius: 30px;
    border-radius: 40px;
    @media(max-width: 1024px){
        height: 300px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }
    @media(max-width: 900px){
        height: 230px;
    }
}

.image-112{
    width: 45%;
    margin: 0 20px;
    margin-bottom: 30px;
    margin-top: -30px;
    height: auto;
    overflow: hidden;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    @media(max-width: 1024px){
        height: 300px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }
    @media(max-width: 900px){
        height: 230px;
    }
}

.image-113{
    width: 45%;
    margin: 0 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    @media(max-width: 1024px){
        height: 300px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }
    @media(max-width: 900px){
        height: 230px;
    }
}